<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Netflow - Dreamhack</title>
</head>
<body style="background-color: #424242; padding: 10px 30px;">
    <h2 style="color: #fafafa;">This web server is currently serving:</h2>
    <h3><a style="color: #f60;" href="/nfsen">NfSen</a></h3>
</body>
</html>
